.boton-subir {
    position: fixed;
    bottom: 20px; /* Ajusta la distancia desde la parte inferior */
    left: 20px; /* Ajusta la distancia desde la parte izquierda */
    display: none; /* Inicialmente oculto */
    z-index: 9999; /* Asegura que el botón esté sobre todo el contenido */
  }
  